@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
  /* Primary Colors */
  --SoftBlue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  /*Neutral */

  --VeryDarkBlueMain: hsl(217, 54%, 11%);
  --VeryDarkBlueBg: hsl(216, 50%, 16%);
  --VeryDarkBlueLine: hsl(215, 32%, 27%);
  --aqua: hsla(178, 100%, 50%, 0.5);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: Outfit, sans-serif;
  background-color: var(--VeryDarkBlueMain);
  display: grid;
  place-items: center;
  height: 100vh;
  font-weight: 300;
  padding: 0 24px;
  color: var(--SoftBlue);
}

/* Attributions Styles */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  max-width: 375px;
  background-color: var(--VeryDarkBlueBg);
  border-radius: 24px;
  padding: 24px 24px 0 24px;
}

.card-image {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
}
.card-image img {
  width: 100%;
  display: block;
  border-radius: 12px;
  object-fit: cover;
}

.card-title h2 {
  color: var(--White);
  font-weight: 600;
}

.card-title p {
  word-spacing: 2px;
  line-height: 32px;
  font-size: 16px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--VeryDarkBlueLine);
}

.card-info div {
  display: flex;
  gap: 8px;
  align-items: center;
}

.card-info img {
  width: fit-content;
  height: fit-content;
}

.card-info div:first-child p {
  color: var(--Cyan);
  font-weight: 400;
}

.card-author {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 14px 0;
}

.card-author img {
  width: 36px;
  border: 1px solid var(--White);
  border-radius: 100%;
}

.card-author span {
  color: var(--White);
}

/* Effects */

h2:hover,
span:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.card-image::after {
  content: url("/images/icon-view.svg");
  background: var(--aqua);
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.25s;
}
.card-image:hover::after {
  opacity: 1;
}
